.content {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    /* Ensures the content fills the height of the parent container */
    margin-top: 220px;
    overflow-y: auto;
    /* Enable vertical scrolling */

}

.imageSearchSection {
    flex: 1;
    /* Each div takes up equal space */
    border-right: 1px solid #ccc;
    /* Vertical line between the divs */
    padding: 20px;
    /* Adjust as needed */
    box-sizing: border-box;
    /* Ensures padding is included in the width */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}

.similarImageSection {
    flex: 1;
    /* Each div takes up equal space */
    padding: 20px;
    /* Adjust as needed */
   
}


.dragText {
    color: #889397;
    font-size: 16px;
    font-weight: 700;
}

.dragBox {
    width: 300px;
    height: 300px;
    border: 2px dashed #dfdfe0;
    /*margin-left: 32%;*/

}

.droppedImage {
    width: 100%;
    height: 100%;
}

.uploadBtn {
    border: 1px solid #C1C7C6;
    border-radius: 50px;
    background-color: white;
    color: #00A35C;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 900;
    font-size: 16px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.06);
    margin-top: 20px;
}

.uploadBtn:hover {
    background-color: #00A35C;
    color: white;
}

.hr {
    border: 0.5px solid #C1C7C6;
    margin: 25px;
}

.uploadedImgInfo {
    display: flex;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    margin-left: 50px;
    width: fit-content;
    padding-right: 50px;
}

.info{
    margin-left: 50px;
    text-align: left;
}

.fieldTitle {
    color: #889397;
    font-weight: 700;
    /* Make the font thicker */
    font-size: 14px;
}

.statusTag {
    background-color: #cff8bf;
    color: #025019;
    border-radius: 50px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0px;
}

.lossTbd {
    background-color: #FFF3A0;
    color: #D68D00;
    border-radius: 50px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0px;
}

/*Similar Images Section Styles*/



.referenceCards {
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.20);
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    background-color: white;
}

.imgSection {
    /* Set the width of imgSection to 30% */
    margin-left: 0px;
    text-align: left;
}

.imgSection img {
    width: 200px;
    /* Force images to have 100% width */
    height: auto;
    /* Fixed height */
}


.contentSection {
    flex-grow: 1;
    /* Allow the contentSection to grow and take up remaining space */
    padding-left: 20px;
    /* Add padding for spacing between image and content */
}

.upperSection {
    display: flex;

    /* Allow items to wrap to the next line if necessary */
    width: 100%;
}

.fieldWrapper {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    /* Adjust spacing between each field */
}

.fieldWrapper p {
    margin: 0;
    /* Reset margin for inner p elements */
    text-align: left;
    margin-top: 5px;
}

.lowerSection {
    margin-top: 30px;
    /* Adjust spacing between upper and lower sections */
    text-align: left;
}

.lossAmount {
    color: #016BF8;
    font-weight: 600;
    background-color: #E1F7FF;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 50px;
    font-size: 16px;
}

.fieldContent {
    font-size: 16px;
    margin-top: 5px;
}