.content {
    display: flex;
    height: 100%;
    /* Ensures the content fills the height of the parent container */
    margin-top: 220px;
    position: fixed;
    overflow-y: scroll; /* Enable vertical scrolling */

}

.chat {
    flex: 1;
    /* Each div takes up equal space */
    border-right: 1px solid #ccc;
    /* Vertical line between the divs */
    padding: 20px;
    /* Adjust as needed */
    box-sizing: border-box;
    /* Ensures padding is included in the width */
}

.input {
    border: 1px solid #C1C7C6;
    border-radius: 50px;
    width: 70%;
    padding: 5px;
    margin-right: 20px;
    font-size: 16px;
}

.askBtn {
    border: 1px solid #C1C7C6;
    border-radius: 50px;
    background-color: white;
    color: #00A35C;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 900;
    font-size: 16px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.06);
}

.askBtn:hover {
    background-color: #00A35C;
    color: white;
}

.suggestion {
    border: 1px solid #C1C7C6;
    border-radius: 50px;
    background-color: white;
    color: #00A35C;
    font-weight: 600;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.06);
    font-size: 16px;

}

.suggestedQuestions p {
    font-size: 16px;
    color: #889397;
    margin-bottom: 0px;
    margin-top: 30px;
}



.answer {
    font-size: 16px;
    background-color: #edf0ef;
    padding: 20px;
    border-radius: 20px;
    margin-top: 30px;
}

/*Rerefences Styles*/

.references {
    flex: 1;
    /* Each div takes up equal space */
    padding: 20px;
    /* Adjust as needed */
    box-sizing: border-box;
    /* Ensures padding is included in the width */
}

.referenceCards {
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.09);
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    background-color: white;
}

.imgSection {
   
    /* Set the width of imgSection to 30% */
   margin-left: 0px;
   text-align: left;
}

.imgSection img {
    width: 200px; /* Force images to have 100% width */
    height: auto; /* Fixed height */
}


.contentSection {
    flex-grow: 1;
    /* Allow the contentSection to grow and take up remaining space */
    padding-left: 20px;
    /* Add padding for spacing between image and content */
}

.upperSection {
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap to the next line if necessary */
    width: 100%;
}

.fieldWrapper {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    /* Adjust spacing between each field */
}

.fieldWrapper p {
    margin: 0;
    /* Reset margin for inner p elements */
    text-align: left;
    margin-top: 5px;
}

.lowerSection {
    margin-top: 30px;
    /* Adjust spacing between upper and lower sections */
    text-align: left;
}

.lossAmount {
    color: #016BF8;
    font-weight: 600;
    background-color: #E1F7FF;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 50px;
    font-size: 16px;
}

.fieldTitle {
    color: #889397;
    font-weight:700; /* Make the font thicker */
    font-size: 13px;
}

.fieldContent{
    font-size: 16px;
    margin-top: 5px;
}