.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.03);
    z-index: 1000;
}

.logo {
    margin-right: 100px;
}

.links a {
    margin-right: 15px;
    padding-right: 30px;
    color: #001E2B;
    text-decoration: none;
    font-size: large;
}

.links a:hover {
    color: #13aa52;
}

/* Focus styles */
.links a:focus {
    color: white;
    background-color: #13aa52;
    border-radius: 50px;
    font-weight: 700;
    padding: 10px;
}


.user {
    margin-right: 30px;
}