.modal {
  z-index: 1000;
  transform: translateZ(0);
  max-width: 100%;
  margin: 0 auto;
  padding: 16px;
  border-radius: 8px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  max-height: 90vh;
  height: 500px; /* Set a fixed height */
  min-height: 500px; /* Prevent shrinking */
}

.modalH3 {
  margin-top: 20px;
  text-align: left;
}

.modalImage {
  width: 100%;
  height: auto;
  max-width: 550px;
  margin: 0 auto;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .modal {
    width: 95vw;
    max-width: 95vw;
    padding: 12px;
  }

  .modalContent {
    width: 100%;
    height: auto;
    min-height: unset;
    max-height: 80vh;
    overflow-y: auto;
  }

  .modalH3 {
    font-size: 1.2rem; /* Smaller heading for mobile */
  }

  .modalImage {
    width: 100%;
    max-width: 100%; /* Ensure images are responsive */
  }
}
